.word {
  display: flex;
  margin: 10px;
}

.letter-container {
  border: 1px solid black;
  width: 20px;
}
.letter {
  text-align: center;
}
.blank {
}
.correct {
  background: green;
}
.incorrect {
  background: red;
}
.exists {
  background: yellow;
}
